<head>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
    </head>

    <body>
    <div class="flex-container">
    <div class="container">
    <h1>KEEP IN TOUCH !</h1>
<p class="lead">Enter your email to join <strong><%= data %></strong> others on our waitlist. All the news and events about the Amazing Route. </p>
<form method="POST" action='/register'>
    <input type="text" class="form" name="email" placeholder="Enter Your Email">
    <button>Join Now</button>
</form>
</div>
</div>
</body>